{# #}
{% if demonstration %}
<section class="scl-example">
  <button
    class="scl-button
           {%- if (theme) or (size) or (rounded) or (outline) or (block) %} | {%- endif -%}
           {%- if theme %} scl-button--{{ theme -}} {% endif -%}
           {%- if size %} scl-button--{{ size -}} {% endif -%}
           {%- if rounded %} scl-button--{{ rounded -}} {% endif -%}
           {%- if outline %} scl-button--{{ outline -}} {% endif -%}
           {%- if block %} scl-button--{{ block -}} {% endif -%}"
           {%- if disabled -%} disabled{%- endif -%}
           >
      {{- button_label -}}
  </button>

  {% if theme != null%}
    {# we're going to loop through the things for interactive states #}
    {% for item in interactions %}
      <button
        class="scl-button
               {%- if theme %} scl-button--{{ theme -}} {% endif -%}
               {%- if interactions %} scl-button--{{ item.type -}} {% endif -%}">
        {{- item.type | capitalize -}}
      </button>
    {% endfor %}

  {# the disabled button example, all by itself ^#}
  <button
    class="scl-button
           {%- if theme %} scl-button--{{ theme -}} {% endif -%}" disabled>
    Disabled
  </button>
  {% endif %} {# theme != null endif #}

</section>

{% else %}

{# this is the actual component code #}
<button
  class="scl-button
         {%- if (theme) or (size) or (rounded) or (outline) or (block) %} | {%- endif -%}
         {%- if theme %} scl-button--{{ theme -}} {% endif -%}
         {%- if size %} scl-button--{{ size -}} {% endif -%}
         {%- if rounded %} scl-button--{{ rounded -}} {% endif -%}
         {%- if outline %} scl-button--{{ outline -}} {% endif -%}
         {%- if block %} scl-button--{{ block -}} {% endif %}"
         {%- if disabled -%} disabled{%- endif -%}>
  {{- button_label -}}
</button>

{% endif %} {# if demonstration endif #}
