.scl-example {
  margin: 0 32px 24px;
  & > *:not(:first-of-type) {
    margin-left: 12px;
  }
}

@import 'button-custom-prop.variables.scss';
@import 'button-custom-prop.overides.scss';

button {
  background: transparent;
  border: 0;
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  -webkit-appearance: none;
}


.scl-button {
  --background-color: #{$base-button-background-color};
  --background-color--hover: #{$base-button-background-color--hover};
  --border-color: #{$base-button-border-color};
  --text-color--alt: #{$button-text-color-alt};
  --text-color: #{$button-text-color};
  --padding: #{$button-padding};

  color: var(--text-color);


  background-color: var(--background-color);
  border: 1px solid var(--border-color);

  &:hover {
    background-color: var(--background-color--hover);
    color: $button-text-color-alt--hover;
  }

  &:focus {
    outline-offset: 2px;
    outline: var(--background-color) solid 2px;
  }

  padding: var(--padding);

  &--small {
    --padding: #{$button-padding--sm};
  }

  &--large {
    --padding: #{$button-padding--lg};
  }

  &--extra-large {
    --padding: #{$button-padding--xl};
  }

  &--rounded {
    border-radius: $button--rounded;
  }


  &--primary {
    --background-color: #{$primary-button-background-color};
    --border-color: #{$primary-button-border-color};
    --text-color: #{$button-text-color};

    &:hover {
      --background-color--hover: #{$primary-button-background-color--hover};
      color: $button-text-color-alt--hover;
    }
  }

  &--secondary {
    --background-color: #{$secondary-button-background-color};
    --border-color: #{$secondary-button-border-color};
    --text-color: #{$button-text-color};

    &:hover {
      --background-color--hover: #{$secondary-button-background-color--hover};
      color: $button-text-color--hover;
    }
  }

  &--tertiary {
    --background-color: #{$tertiary-button-background-color};
    --border-color: #{$tertiary-button-border-color};
    --text-color: #{$button-text-color};

    &:hover {
      --background-color--hover: #{$tertiary-button-background-color--hover};
      color: $button-text-color-alt--hover;
    }
  }

  &--accent {
    --background-color: #{$accent-button-background-color};
    --border-color: #{$accent-button-border-color};
    --text-color: #{$button-text-color-alt};

    &:hover {
      --background-color--hover: #{$accent-button-background-color--hover};
      color: $button-text-color-alt--hover;
    }
  }


  &:active {
    transform: translateY(1px);
    position: relative;
  }
}


@import 'button-custom-prop.mixes.scss';
