@import 'button.variables.scss';
@import 'button.overides.scss';

button {
  display: inline-block;
  margin: 0;
  font-size: 1rem;
  line-height: 1;
  background: transparent;
  -webkit-appearance: none;
}


.scl-button {
  background-color: $button-background-color;
  border: 1px solid $button-border-color;

  color: $button-text-color;

  padding: $button-padding;

  &:hover,
  &:focus {
    background-color: $button-background-color--hover;
    color: $button-text-color--hover;
  }
}


@import 'button.mixes.scss';
